/* footer */ 

@use '../utilities/colors';
@use '../utilities/variables';
@use '../utilities/mixins/mixins';

.footer {

    // use background image as background effect
    background-image: url("../images/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;  // spread image while keeping good ratio

    &__center {

    }

    &__copy {
        // set transparent background color over background image in footer
        background-color: rgb(82 136 52 / 70%);
    }

    &__copyright {

    }

    &__forms {

    }

    &__heading {

    }

    &__image {

    }

    &__item {

    }

    &__join {

    }

    &__link {

    }

    &__links {

    }

    &__list {
        // reset list
        @include mixins.reset_list;
    }

    &__list-wrapper {

    }

    &__lists {
        // set transparent background color over background image in footer
        background-color: rgb(65 127 16 / 80%);
    }

    &__logo {

    }

    &__newtree {

    }

    &__savor {

    }

    &__social {

    }

    &__tm {

    }

    &__top {
        // set transparent background color over background image in footer
        //background-color: rgb(96 175 21 / 60%);
        
        background: rgb(26,47,6);
        //background: linear-gradient(180deg, rgba(26,47,6,1) 0%, rgba(96,175,21,1) 82%);
        background: linear-gradient(180deg, rgba(26,47,6,0.8) 0%, rgba(96,175,21,0.8) 82%);
    }

    &__top-content {

    }

    &__trademark {

    }

    &__uppercase {
        
    }
}