// colors


// page

// search
$search_button_background_color: white;
$search_icon_color: #736d6d;
$search_recipe_placeholder_color: #41403c;

// arrows
$arrows_link_background_color: white;
$arrows_link_color: #a2a0a0;
$arrows_link_active_background_color: #ee9610;
$arrows_link_active_color: white;
$arrows_link_active_hover_background_color: #f7a221;
$arrows_link_gray_background_color: #d6cfbd;
$arrows_link_gray_color: white;

// navigation

// dropdown

// last-recipes

// categories

// recipes

// ads

// top

// logo

// subscribe

// header
$header_background_color: #e1d7cb;
$header_headings_background_color: rgb(193 120 9 / 85%);
$header_headings_color: white;

// footer
$footer_content_background_color: #e2dcce;

// home
