// variables 


// reset 
$body_font_family: 'Times New Roman', Times, serif;
$body_background_image_path: url("../images/home-texture.jpg");

// media screen
$media_screen_small: 20rem;
$media_screen_medium: 40rem;
$media_screen_large: 60rem;
$media_screen_huge: 80rem;

// page
$page_min_width: 20rem;
$page_content_padding: 1rem;
$page_content_max_width: 80rem;

// search
$search_margin_top: 2rem;
$search_margin_right: 3rem;
$search_button_padding: 0 0.7rem;
$search_icon_font_size: 0.7rem;
$search_recipe_padding: 0.6rem 0.9rem;
$search_recipe_placeholder_font_size: 0.75rem;

// arrows
$arrows_link_width: 3.8rem;
$arrows_link_height: 2.6rem;
$arrows_link_width_small: 3rem;
$arrows_link_height_small: 2.13rem;
$arrows_icon_font_size: 0.7rem;

// navigation
$navigation_item_margin_bottom: 0.1rem;
$navigation_link_font_size: 0.9rem;

// dropdown
$dropdown_icon_margin_right: 0.4rem;
$dropdown_icon_font_size: 0.6rem;
$dropdown_list_padding_left: 1rem;

// borders
$borders_size: 1.2rem;
$borders_size_small: $borders_size / 2;

// last-recipes
$last_recipes_arrows_margin: 0.8rem;
$last_recipes_content_minimum_width: 12rem;
$last_recipes_content_maximum_width: 1fr;
$last_recipes_content_gap: 1rem;
$last_recipes_heading_margin_top: 0.35rem;
$last_recipes_image_width: 100%;
$last_recipes_slides_margin_top: 1rem;
$last_recipes_text_padding: 1rem;
$last_recipes_track_flex: 1;
$last_recipes_track_height: 0.3rem;

// categories
$categories_arrow_font_size: 0.55rem;
$categories_item_margin_bottom: 0.5rem;
$categories_name_margin_left: 0.6rem;
$categories_name_margin_right: 0.35rem;

// recipes
$recipes_card_margin_bottom: 1.5rem;
$recipes_card_border_width: 0.3rem;
$recipes_heading_margin_bottom: 0.4rem;
$recipes_heading_font_size: 1.3rem;
$recipes_image_breakpoint: 27rem;
$recipes_image_width: 100%;
$recipes_ingredients_margin_bottom: 0.5rem;
$recipes_ingredients_font_size: 0.9rem;
$recipes_ingredients_line_height: 1.2rem;
$recipes_more_font_size: 0.9rem;
$recipes_more_margin_top: -0.5rem;
$recipes_more_margin_bottom: 1rem;
$recipes_picture_margin_right: 0.8rem;
$recipes_picture_margin_bottom: 0.5rem;
$recipes_text_line_height: 1.3rem;

// ads
$ads_heading_font_size: 1.7rem;
$ads_heading_line_height: 1.6rem;
$ads_image_padding: 1.5rem;
$ads_image_height: 9rem;
$ads_image_margin_top: 1rem;
$ads_image_path_fast_food: url("../images/aside/fast-food-2.jpg");
$ads_image_path_sushi: url("../images/aside/sushi-tai-2.jpg");
$ads_image_path_weight_loss: url("../images/aside/weight-loss-2.jpg");
$ads_subheading_margin_top: -0.1rem;
$ads_subheading_font_size: 1.4rem;

// top
$top_padding: 0.3rem 0.8rem;
$top_padding_medium: 0.2rem 0.6rem;
$top_right: 0.5rem;
$top_bottom: 3rem;
$top_border_radius: 50%;
$top_transition_time: 0.35s;
$top_icon_font_size: 3rem;
$top_icon_font_size_medium: 2.5rem;
$top_icon_font_size_small: 2rem;

// logo
$logo_link_font_size: 2rem;
$logo_link_line_height: 1.55rem;
$logo_link_letter_spacing: -0.2rem;

// subscribe
$subscribe_button_font_size: 0.8rem;
$subscribe_email_margin_bottom: 0.7rem;
$subscribe_email_padding: 0.5rem 0.8rem;
$subscribe_email_border_width: 0.1rem;
$subscribe_email_border_radius: 0.2rem;

// header
$header_arrows_margin_bottom: 1rem;
$header_content_height: 30rem;
$header_content_height_small: 22rem;
$header_content_height_smallest: 17rem;
$header_content_background_image_path: url("../images/header/burritos.jpg");
$header_heading_font_size: 1rem;
$header_heading_letter_spacing: 0.15rem;
$header_headings_padding: 1.5rem;
$header_headings_margin_left: -1rem;
$header_headings_margin_right: -1rem;
$header_headings_width: 12rem;
$header_headings_breakpoint: 40rem;
$header_headings_flex: 1;
$header_search_margin_right: -1rem;
$header_search_flex: 100%;
$header_form_margin_bottom: 1rem;
$header_subheading_font_size: 4rem;
$header_subheading_letter_spacing: -0.3rem;
$header_subheading_line_height: 3.1rem;
$header_subheading_font_size_small: 2.6rem;
$header_subheading_letter_spacing_small: -0.1rem;
$header_subheading_breakpoint: 27rem;

// footer
$footer_arrow_margin_right: 0.65rem;
$footer_arrow_font_size: 0.55rem;
$footer_content_padding: 2rem 2.7rem;
$footer_content_padding_medium: 1rem;
$footer_copyright_margin_top: 0.2rem;
$footer_copyright_margin_left: 1rem;
$footer_copyright_font_size: 0.75rem;
$footer_heading_margin_bottom: 0.6rem;
$footer_heading_font_size: 1.5rem;
$footer_item_margin_bottom: 0.5rem;
$footer_list_flex: 1;
$footer_list_margin_left: 2rem;
$footer_lists_flex: 2.5;
$footer_lists_margin: 0 4rem;
$footer_lists_flex_medium: 60%;
$footer_lists_flex_small: 100%;
$footer_lists_margin_right: 1rem;
$footer_lists_margin_bottom: 2rem;
$footer_lists_breakpoint_medium: 54rem;
$footer_lists_breakpoint_small: 36rem;
$footer_logo_flex: 1;
$footer_logo_flex_medium: 100%;
$footer_logo_margin_bottom: 2rem;
$footer_newsletter_flex: 1;
$footer_newsletter_flex_medium: 30%;

// home
$home_click_padding: 1rem;
$home_click_text_font_size: 0.95rem;
$home_click_text_margin_right: 0.5rem;
$home_courses_flex: 1;
$home_courses_negative_margin: -1rem;
$home_courses_content_flex: 1 0 auto;
$home_courses_content_padding: 3rem 3.5rem;
$home_courses_content_padding_small: 2rem 1rem;
$home_dish_line_height: 1.4rem;
$home_heading_font_size: 2rem;
$home_heading_font_size_small: 1.5rem;
$home_navigation_padding_right: 1rem;
$home_navigation_padding_top: 4rem;
$home_navigation_width: 13rem;
$home_navigation_width_small: 100%;
$home_navigation_order_small: 1;
$home_navigation_padding_top_small: 2rem;
$home_navigation_padding_bottom_small: 2rem;
$home_right_font_size: 0.55rem;
$home_subheading_margin_bottom: 0.5rem;
$home_subheading_font_size: 1.4rem;
$home_subheading_font_size_small: 1.3rem;
$home_track_height: 2.5rem;
$home_last_recipes_padding_top: 3rem;
$home_recipes_margin_top: 3rem;
$home_recipes_margin_bottom: 2rem;
$home_top_recipes_flex: 2.5;
$home_top_recipes_margin: 0 3rem;
$home_top_recipes_margin_medium: 2rem 0;
$home_top_recipes_breakpoint: 58rem;
$home_top_recipes_flex_full: 100%;
$home_top_recipes_order: 1;
$home_categories_flex: 1;
$home_categories_margin_right: 3rem;
$home_ads_flex: 1;
$home_ads_breakpoint: 33rem;
$home_ads_flex_full: 100%;
$home_ads_order: 2;