// files grid

@use '../utilities/colors';
@use '../utilities/variables';
@use '../utilities/mixins/mixins';

.files {

    // spread css grid items to fill container width
    @include mixins.set_grid_container($justify_content: space-between);

    &--small, &--medium, &--large {
        gap: variables.$files_gap;
    }
    
    &--small {
        // set responsive grid items
        grid-template-columns: repeat(auto-fit, variables.$files_link_small_width);

        .files__link {
            @include mixins.set_flexbox_container();
            gap: variables.$files_link_gap;

            padding: variables.$files_link_padding_small;
            width: variables.$files_link_small_width;
        }

        .files__picture {
            width: variables.$files_picture_small_width;
            height: variables.$files_picture_small_width;
        }

        .files__name {
            margin: unset;
            width: variables.$files_name_width_small;
            text-align: left;
        }
    }

    // reset small modifiers for larger icons
    &--medium, &--large {

        .files__link {
            display: block;
            padding-top: variables.$files_link_padding_top;
            padding-bottom: variables.$files_link_padding_top;
            padding-left: variables.$files_link_padding_left;
            padding-right: variables.$files_link_padding_left;
        }

        .files__name {
            width: auto;
            margin-left: - variables.$files_link_padding_left + variables.$files_link_padding_top;
            margin-right: - variables.$files_link_padding_left + variables.$files_link_padding_top;
            text-align: center;
        }
    }

    &--medium {
        // set responsive grid items
        grid-template-columns: repeat(auto-fit, variables.$files_link_medium_width);

        .files__link {
            width: variables.$files_link_medium_width;
        }

        .files__picture {
            width: variables.$files_picture_medium_width;
            height: variables.$files_picture_medium_width;
        }
    }

    &--large {
        // set responsive grid items
        grid-template-columns: repeat(auto-fit, variables.$files_link_large_width);

        .files__link {
            width: variables.$files_link_large_width;
        }

        .files__picture {
            width: variables.$files_picture_large_width;
            height: variables.$files_picture_large_width;
        }
    }

    &__box {
        text-align: center;
    }

    &__link {
        display: block;

        // add borders, but hide them with transparent color by default
        @include mixins.set_borders($style: solid,
                                    $width: variables.$files_link_border_width,
                                    $color: transparent);

        border-radius: variables.$files_link_border_radius;

        // add little transparent background when hovered
        &:hover {
            background-color: colors.$files_link_hover_background_color;
            border-color: colors.$files_link_hover_border_color;

            .files__name {
                color: colors.$files_name_hover_color;
            }
        }
    }

    &__name {
        color: colors.$files_name_color;

        // break long words to new lines
        word-break: break-all;
    }

    &__picture {
        
    }
}