/* reset */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0ea1ff;
}

a {
  text-decoration: none;
}

/* page */
.page {
  padding: 0 1rem;
  min-width: 20rem;
  max-width: 110rem;
}
.page--center {
  margin: 10rem auto;
}
@media only screen and (max-width: 62rem) {
  .page--center {
    margin: 5rem auto;
  }
}
@media only screen and (max-width: 51rem) {
  .page--center {
    margin: 0;
    padding: 0;
  }
}
.page__center {
  display: flex;
  flex-wrap: nowrap;
  padding: 3rem 0;
  background-color: #f5f5f5;
  border-radius: 6rem;
}
@media only screen and (max-width: 51rem) {
  .page__center {
    padding: 1.5rem 0;
    border-radius: unset;
  }
}
@media only screen and (max-width: 36rem) {
  .page__center {
    padding: 0;
  }
}
.page__aside {
  flex: 15rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 51rem) {
  .page__aside {
    flex: 5rem;
  }
}
@media only screen and (max-width: 36rem) {
  .page__aside {
    display: none;
  }
}
.page__content {
  flex: 80rem;
  background-color: white;
}

/* circle */
.circle {
  width: 4rem;
  height: 4rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #e4e9ec;
  border-radius: 50%;
}
@media only screen and (max-width: 51rem) {
  .circle {
    display: none;
  }
}
.circle--small {
  width: 1rem;
  height: 1rem;
}

/* wifi */
.wifi__icon {
  font-size: 0.8rem;
}
.wifi__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
}
.wifi__text {
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}

/* battery */
.battery {
  background-color: #10adfc;
}
.battery__cap {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-left: 0.05rem;
}
.battery__content {
  padding: 0.05rem;
  width: 80%;
  height: 100%;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #67d4ff;
  border-radius: 0.25rem;
}
.battery__level {
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
  background-color: white;
}
.battery__level--low {
  background-color: #ca0f0f;
}
.battery__triangle {
  border-top-style: solid;
  border-top-width: 0.2rem;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  border-bottom-color: transparent;
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: #67d4ff;
}
.battery__crop {
  position: absolute;
  right: 0;
  width: 0.08rem;
  height: 0.4rem;
  background-color: #10adfc;
}
.battery__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 0.35rem;
  width: 2.2rem;
  height: 0.5rem;
}

/* navigation */
.navigation__heading {
  margin: 0;
  padding: 0.6rem;
  background-color: #f3f3f3;
  color: #626a77;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #e4e8ea;
}
.navigation__menu:last-child .navigation__item:last-child {
  border-bottom: none;
}
@media only screen and (max-width: 62rem) {
  .navigation__menu:last-child .navigation__item:last-child {
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: #e4e8ea;
  }
}
.navigation__icon {
  font-size: 1.8rem;
  color: #d8d8d8;
}
.navigation__link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1.1rem 0.8rem;
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-left-color: transparent;
}
.navigation__link:hover {
  border-left-color: #8adaff;
  background-color: #f4fcff;
}
.navigation__link:hover .navigation__icon {
  border-radius: 50%;
  background-color: white;
}
.navigation__link--active {
  background-color: #f4fcff;
  cursor: auto;
}
.navigation__link--active .navigation__text {
  color: #2cb3f1;
  font-weight: bold;
}
.navigation__link--active .navigation__icon {
  border-radius: 50%;
  background-color: white;
}
.navigation__link--ok .navigation__icon, .navigation__link--active .navigation__icon {
  color: #1fb5fc;
}
.navigation__link--warning .navigation__icon {
  color: #e81111;
}
.navigation__item {
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #e4e8ea;
}
.navigation__item .navigation__link--active {
  border-left-color: #2cb3f1;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation__text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #5a5f6e;
}

/* choice */
.choice {
  display: flex;
  flex-wrap: nowrap;
}
.choice__answer {
  flex: 1;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.choice__answer:first-child {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
  border-right: none;
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}
.choice__answer:last-child {
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}
.choice__answer--active {
  background-color: #e8f6ff;
  color: #0ea7ef;
}
.choice__answer--active:first-child + .choice__answer {
  border-left-color: #4ca9d5;
}
.choice .choice__answer--active {
  border-color: #4ca9d5;
}

/* list */
.list {
  padding: 1rem;
  outline: none;
  font-size: 1rem;
  color: #656577;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
  border-radius: 0.35rem;
}
.list__option {
  color: #656577;
}

/* numbers */
.numbers {
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 77rem) {
  .numbers {
    flex-direction: column;
  }
}
@media only screen and (max-width: 62rem) {
  .numbers {
    flex-direction: row;
  }
}
@media only screen and (max-width: 43rem) {
  .numbers {
    flex-direction: column;
  }
}
.numbers__box {
  flex: 1;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
  border-right: none;
}
.numbers__box:last-child {
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: #e4e8ea;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: unset;
}
.numbers__box:first-child {
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
  border-top-right-radius: unset;
}
@media only screen and (max-width: 77rem) {
  .numbers__box {
    border-right-style: solid;
    border-right-width: 0.1rem;
    border-right-color: #e4e8ea;
    border-bottom: none;
  }
  .numbers__box:last-child {
    border-bottom-left-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    border-top-right-radius: unset;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: #e4e8ea;
  }
  .numbers__box:first-child {
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    border-bottom-left-radius: unset;
  }
}
@media only screen and (max-width: 62rem) {
  .numbers__box {
    flex: 1;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #e4e8ea;
    border-right: none;
  }
  .numbers__box:last-child {
    border-right-style: solid;
    border-right-width: 0.1rem;
    border-right-color: #e4e8ea;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: unset;
  }
  .numbers__box:first-child {
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
    border-top-right-radius: unset;
  }
}
@media only screen and (max-width: 43rem) {
  .numbers__box {
    border-right-style: solid;
    border-right-width: 0.1rem;
    border-right-color: #e4e8ea;
    border-bottom: none;
  }
  .numbers__box:last-child {
    border-bottom-left-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    border-top-right-radius: unset;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: #e4e8ea;
  }
  .numbers__box:first-child {
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    border-bottom-left-radius: unset;
  }
}
.numbers .numbers__box--active {
  background-color: #e8f6ff;
  color: #0ea7ef;
  border-color: #4ca9d5;
}
.numbers .numbers__box--active + .numbers__box {
  border-left-color: #4ca9d5;
  border-top-color: #e4e8ea;
}
.numbers .numbers__box--active + .numbers__box--active {
  border-top-color: #4ca9d5;
}
@media only screen and (max-width: 77rem) {
  .numbers .numbers__box--active + .numbers__box {
    border-top-color: #4ca9d5;
    border-left-color: #e4e8ea;
  }
  .numbers .numbers__box--active + .numbers__box--active {
    border-left-color: #4ca9d5;
  }
}
@media only screen and (max-width: 62rem) {
  .numbers .numbers__box--active {
    background-color: #e8f6ff;
    color: #0ea7ef;
    border-color: #4ca9d5;
  }
  .numbers .numbers__box--active + .numbers__box {
    border-left-color: #4ca9d5;
    border-top-color: #e4e8ea;
  }
  .numbers .numbers__box--active + .numbers__box--active {
    border-top-color: #4ca9d5;
  }
}
@media only screen and (max-width: 43rem) {
  .numbers .numbers__box--active + .numbers__box {
    border-top-color: #4ca9d5;
    border-left-color: #e4e8ea;
  }
  .numbers .numbers__box--active + .numbers__box--active {
    border-left-color: #4ca9d5;
  }
}

/* checkbox */
.checkbox__input {
  margin-left: 0;
  margin-right: 0.35rem;
  outline: none;
}
.checkbox__row {
  margin-bottom: 0.5rem;
}
.checkbox__row--other {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
}
.checkbox__row--other .home__area {
  flex: 100%;
}

/* measure */
.measure {
  margin-right: 2rem;
  display: inline-grid;
  grid-template-columns: min-content 2.6rem min-content 1fr;
  align-content: flex-start;
  align-items: center;
}
.measure__number {
  display: inline-block;
  margin: 0 0.4rem;
  text-align: center;
}
.measure__sign {
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  outline: none;
  background-color: #0ea1ff;
  color: white;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #108ddb;
  border-radius: 0.25rem;
}
.measure__sign:hover {
  background-color: #1f8acc;
  border-color: #1775af;
}
.measure__sign--disabled, .measure__sign--disabled:hover {
  cursor: auto;
  background-color: #8ecff7;
  border-color: #64baef;
}
.measure__unit {
  margin-left: 0.8rem;
}

/* calculation */
.calculation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.calculation__content {
  display: inline-block;
  padding: 1rem;
  color: white;
  border-radius: 0.3rem;
  text-align: center;
}
.calculation__content--deficit {
  background-color: #d60b0b;
}
.calculation__content--normal {
  background-color: #14adaa;
}
.calculation__content--excessive {
  background-color: #d46208;
}
.calculation__content--obesity-1st {
  background-color: #8e9a0d;
}
.calculation__content--obesity-2nd {
  background-color: #6d7705;
}
.calculation__content--obesity-3rd {
  background-color: black;
}

/* pharmacy */
.pharmacy__rx, .pharmacy__strength, .pharmacy__quantity, .pharmacy__license {
  padding: 1rem;
  outline: none;
  color: #656577;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
  border-radius: 0.35rem;
}
.pharmacy__license, .pharmacy__quantity, .pharmacy__rx, .pharmacy__strength {
  font-size: 1rem;
}
.pharmacy__strength, .pharmacy__quantity {
  flex: 1;
  margin-right: 0.5rem;
}
.pharmacy__unit {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* score */
.score {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.73rem 0.7rem;
}
@media only screen and (max-width: 36rem) {
  .score {
    padding: 0.73rem 1rem;
  }
}
.score--top-border {
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: #e4e8ea;
}
.score__button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.6rem 1rem;
  outline: none;
  border-radius: 0.35rem;
  cursor: pointer;
  border-style: solid;
  border-width: 0.12rem;
}
.score__button--back {
  border-color: #dadbe2;
  background-color: #fafbfd;
}
.score__button--back .score__icon {
  margin-right: 0.6rem;
  color: #d0d0d4;
}
.score__button--back .score__text {
  color: #424956;
}
.score__button--back:hover {
  background-color: #e5e7ec;
}
.score__button--back:hover .score__icon {
  color: #aaaaaf;
}
.score__button--back-disabled {
  cursor: auto;
}
.score__button--back-disabled .score__text, .score__button--back-disabled .score__icon {
  color: #b3b3b3;
}
.score__button--back-disabled:hover {
  background-color: #fafbfd;
}
.score__button--back-disabled:hover .score__icon {
  color: #b3b3b3;
}
.score__button--next {
  border-color: #4ec58f;
  background-color: #17dd7e;
}
.score__button--next .score__icon {
  margin-left: 0.6rem;
  color: #f0fffa;
}
.score__button--next .score__text {
  color: #f0fffa;
}
.score__button--next:hover {
  border-color: #11b666;
  background-color: #13c770;
}
.score__content {
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
@media only screen and (max-width: 36rem) {
  .score__content {
    margin-left: 7%;
    margin-right: 7%;
  }
}
.score__icon {
  font-size: 1.1rem;
}
.score__level {
  width: 0%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #1fb5ff;
}
.score__percentage {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: #6f7484;
}
.score__progress {
  margin-top: 0.6rem;
  height: 0.4rem;
  background-color: #e1e3ea;
  border-radius: 0.5rem;
}
.score__text {
  font-weight: bold;
  font-size: 0.9rem;
}

/* checkbox */
.address__zip {
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  color: #656577;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
  border-radius: 0.35rem;
}

.submit {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.submit__window {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 20rem;
  height: 12rem;
  background-color: white;
  border-radius: 0.25rem;
}
.submit__heading {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: #1078bb;
  color: white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-align: center;
  font-size: 1.1rem;
}
.submit__text {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #231f1f;
  text-align: center;
}
.submit__footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.submit__footer--center {
  justify-content: center;
}
.submit__button {
  padding: 0.3rem 0.7rem;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
}
.submit__button--submit {
  background-color: #146d14;
  border-color: #145814;
  color: white;
}
.submit__button--submit:hover {
  background-color: #1e861e;
  border-color: #1a6b1a;
}
.submit__button--close {
  background-color: #d0d0d0;
  border-color: #c3c3c3;
  color: #2d2c2c;
}
.submit__button--close:hover {
  background-color: #dbd8d8;
  border-color: #cecece;
}

/* header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
  border-bottom: none;
  font-size: 0.95rem;
  background-color: #10adfc;
  color: white;
}
@media only screen and (max-width: 36rem) {
  .header {
    border: none;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
.header__birthday::after {
  content: "|";
  margin: 0 0.75rem;
}
.header__center {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}
@media only screen and (max-width: 59rem) {
  .header__center {
    flex: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    order: 1;
  }
}
.header__date {
  display: flex;
  flex-wrap: nowrap;
}
.header__heading {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 1.7rem;
}
.header__info {
  text-align: right;
}
@media only screen and (max-width: 36rem) {
  .header__info {
    flex: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
.header__link {
  margin-right: 0.15rem;
  color: white;
}
.header__status {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 36rem) {
  .header__status {
    justify-content: center;
  }
}
.header__user {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
}
/* home */
.home {
  display: flex;
  flex-wrap: nowrap;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
}
@media only screen and (max-width: 62rem) {
  .home {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 36rem) {
  .home {
    border: none;
  }
}
.home__area {
  height: 3.5rem;
  font-size: 1rem;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}
.home__aside {
  flex: 0 0 20rem;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: #e4e8ea;
}
@media only screen and (max-width: 62rem) {
  .home__aside {
    flex: 100%;
    border-right: none;
  }
}
.home__col-1, .home__col-2, .home__col-3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}
.home__col-1 {
  flex: 100%;
}
.home__col-2 {
  flex: 40%;
}
.home__col-2 + .home__col-2 {
  margin-left: 2rem;
  margin-top: 0;
}
@media only screen and (max-width: 88rem) {
  .home__col-2 {
    flex: 100%;
  }
  .home__col-2 + .home__col-2 {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 62rem) {
  .home__col-2 {
    flex: 40%;
  }
  .home__col-2 + .home__col-2 {
    margin-left: 2rem;
    margin-top: 0;
  }
}
@media only screen and (max-width: 59rem) {
  .home__col-2 {
    flex: 100%;
  }
  .home__col-2 + .home__col-2 {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 51rem) {
  .home__col-2 {
    flex: 40%;
  }
  .home__col-2 + .home__col-2 {
    margin-left: 2rem;
    margin-top: 0;
  }
}
@media only screen and (max-width: 47rem) {
  .home__col-2 {
    flex: 100%;
  }
  .home__col-2 + .home__col-2 {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 51rem) {
  .home__col-2--height-weight {
    flex: 100%;
  }
  .home__col-2--height-weight + .home__col-2 {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
.home__col-3 {
  flex: 30%;
}
.home__col-3 + .home__col-3:nth-of-type(2n), .home__col-3 + .home__col-3:nth-of-type(2n + 1) {
  margin-top: 0;
  margin-left: 2rem;
  flex: 30%;
}
@media only screen and (max-width: 103rem) {
  .home__col-3 + .home__col-3:nth-of-type(2n) {
    margin-top: 0;
    margin-left: 2rem;
    flex: 30%;
  }
  .home__col-3 + .home__col-3:last-child {
    margin-left: 0;
    margin-top: 1.5rem;
    flex: 100%;
  }
}
@media only screen and (max-width: 81.5rem) {
  .home__col-3 + .home__col-3:nth-of-type(2n) {
    margin-left: 0;
    margin-top: 1.5rem;
    flex: 100%;
  }
}
@media only screen and (max-width: 62rem) {
  .home__col-3 + .home__col-3:nth-of-type(2n) {
    margin-top: 0;
    margin-left: 2rem;
    flex: 30%;
  }
  .home__col-3 + .home__col-3:last-child {
    margin-left: 0;
    margin-top: 1.5rem;
    flex: 100%;
  }
}
@media only screen and (max-width: 54rem) {
  .home__col-3 + .home__col-3:nth-of-type(2n) {
    margin-left: 0;
    margin-top: 1.5rem;
    flex: 100%;
  }
}
@media only screen and (max-width: 51rem) {
  .home__col-3 + .home__col-3:nth-of-type(2n) {
    margin-top: 0;
    margin-left: 2rem;
    flex: 30%;
  }
  .home__col-3 + .home__col-3:last-child {
    margin-left: 0;
    margin-top: 1.5rem;
    flex: 100%;
  }
}
@media only screen and (max-width: 43rem) {
  .home__col-3 + .home__col-3:nth-of-type(2n) {
    margin-left: 0;
    margin-top: 1.5rem;
    flex: 100%;
  }
}
.home__col-wrapper {
  display: flex;
  flex-wrap: nowrap;
}
.home__col-wrapper--center {
  flex: 1;
  align-items: center;
}
.home__height {
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 106rem) {
  .home__height {
    flex-direction: column;
  }
  .home__height .measure:last-child {
    margin-top: 0.7rem;
  }
}
@media only screen and (max-width: 88rem) {
  .home__height {
    flex-direction: row;
  }
  .home__height .measure:last-child {
    margin-top: 0;
  }
}
@media only screen and (max-width: 77rem) {
  .home__height {
    flex-direction: column;
  }
  .home__height .measure:last-child {
    margin-top: 0.7rem;
  }
}
@media only screen and (max-width: 59rem) {
  .home__height {
    flex-direction: row;
  }
  .home__height .measure:last-child {
    margin-top: 0;
  }
}
@media only screen and (max-width: 30rem) {
  .home__height {
    flex-direction: column;
  }
  .home__height .measure:last-child {
    margin-top: 0.7rem;
  }
}
.home__weight {
  flex: 1;
}
.home__content {
  padding: 3rem;
  color: #656577;
}
@media only screen and (max-width: 36rem) {
  .home__content {
    padding: 3rem 1rem 1rem;
  }
}
.home__date {
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  font-size: 1rem;
  color: #656577;
}
.home__date, .home__input, .home__phone, .home__email, .home__area {
  padding: 1rem;
  outline: none;
  color: #656577;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #e4e8ea;
  border-radius: 0.35rem;
}
.home__email {
  font-size: 1rem;
}
.home__heading {
  margin-top: 0;
  margin-bottom: 1.8rem;
  color: #4c5262;
  font-weight: normal;
}
.home__input {
  font-size: 1rem;
}
.home__label {
  margin-right: 1rem;
}
.home__phone {
  font-size: 1rem;
}
.home__question {
  margin-bottom: 0.8rem;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1.1rem;
  color: #677286;
}
.home__radio {
  margin-left: 0;
  margin-right: 0.5rem;
}
.home__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.home__wrapper {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}
.home__error-border {
  border-color: #e81111;
}
.home__error-text {
  color: #e81111;
}

/* utility helper classes */
.show {
  display: block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
