/* header */ 

@use '../utilities/colors';
@use '../utilities/variables';
@use '../utilities/mixins/mixins';

.header {

    // set flexbox
    @include mixins.set_flexbox_container($flex_wrap: wrap, $justify_content: space-between);

    padding: variables.$header_padding;

    // set borders
    @include mixins.set_borders($style: solid,
                                $width: variables.$home_border_width,
                                $color: colors.$home_border_color);
    border-bottom: none;
    font-size: variables.$header_font_size;

    background-color: colors.$header_background_color;
    color: colors.$header_color;

    &__age {

    }

    &__birthday {
        &::after {
            content: "|";
            margin: variables.$header_birthday_margin;
        }
    }

    &__center {
        margin-left: variables.$header_center_margin;
        margin-right: variables.$header_center_margin;
        text-align: center;
    }

    &__date {
        // set flexbox
        @include mixins.set_flexbox_container();
    }

    &__heading {
        margin-top: variables.$header_heading_margin_top;
        margin-bottom: variables.$header_heading_margin_bottom;
        font-weight: normal;
        font-size: variables.$header_heading_font_size;
    }

    &__hours-mins {

    }

    &__icon {

    }

    &__info {
        text-align: right;
    }

    &__link {
        margin-right: variables.$header_link_margin_right;
        color: colors.$header_link_color;
    }

    &__period {

    }

    &__status {
        // set flexbox
        @include mixins.set_flexbox_container($justify_content: flex-end, $align_items: center);
    }

    &__time {
        
    }

    &__user {
        margin-top: variables.$header_user_margin;
        margin-bottom: variables.$header_user_margin;
        font-weight: bold;
    }

    &__wifi {
        
    }
}