// colors


// page

// button 

// logo
$logo_link_color: white;

// login
$login_circle_background_color: #5c5c5c;

// navigation

// dropdown

// card

// badge

// weather

// article

// comment

// social

// subscribe

// header 
$header_top_background_color: #026701;
$header_link_color: white;
$header_link_color_hover: silver;

// footer

// home
