// variables 


// reset 
$body_font_family: 'Times New Roman', Times, serif;

// media screen
$media_screen_small: 20rem;
$media_screen_medium: 40rem;
$media_screen_large: 60rem;
$media_screen_huge: 80rem;

// page
$page_content_max_width: 75rem;
$page_content_padding_small: 0 0.5rem;
$page_content_padding: 0 1rem;
$page_min_width: 20rem;

// button 

// logo
$logo_title_font_size: 2.5rem;

// login
$login_right: 0.3rem;
$login_border_radius: 0.5rem;
$login_content_padding: 0.5rem 1rem 0.7rem;
$login_content_border_width: 0.1rem;
$login_end_padding: 0.5rem 1rem;
$login_user_margin_right: 1rem;
$login_user_padding: 0.5rem;
$login_user_border_radius: 50%;
$login_name_font_size: 1.2rem;
$login_z_index: 1000;

// navigation
$navigation_link_padding: 1rem;
$navigation_link_font_size: 0.9rem;
$navigation_link_flex: 1;
$navigation_breakpoint: 58rem;
$navigation_breakpoint_small: 35rem;
$navigation_close_link_margin: 0.5rem 1rem;
$navigation_close_link_font_size: 1.7rem;
$navigation_z_index: 1000;

// dropdown
$dropdown_icon: "\f107";
$dropdown_icon_expanded: "\f106";
$dropdown_icon_margin_left: 0.3rem;
$dropdown_icon_font_weight: 900;
$dropdown_icon_line_height: 1;
$dropdown_icon_font_family: "Font Awesome 5 Free";
$dropdown_link_padding: 1rem;
$dropdown_link_padding_left_small: 3rem;
$dropdown_link_font_size: 0.9rem;
$dropdown_list_z_index: 500;

// hamburger
$hamburger_link_margin: 0.6rem 0;
$hamburger_link_padding: 0.3rem;
$hamburger_link_font_size: 1.3rem;

// card
$card_padding: 0.5rem;
$card_padding_top: 1rem;

// badge
$badge_weather_flex: 1 12rem;
$bagde_weather_flex_medium: 45%;
$badge_weather_flex_full: 100%;
$badge_weather_margin_right: 1.5rem;
$badge_weather_margin_bottom: 1.5rem;
$badge_weather_breakpoint_medium: 67rem;
$badge_weather_breakpoint_small: 40rem;
$badge_articles_flex: 1 12rem;
$badge_articles_flex_medium: 45%;
$badge_articles_margin_right: 1.5rem;
$badge_articles_margin_bottom: 1.5rem;
$badge_comments_flex: 2 20rem;
$badge_wrapper_height: 30rem;
$badge_wrapper_padding: 1rem;
$badge_wrapper_weather_flex: 1;
$badge_content_padding_small: 0.1rem;
$badge_content_flex: 1;
$badge_header_padding: 1rem 1.3rem;
$badge_header_border_width: 0.1rem;

// weather
$weather_button_padding: 0.5rem 0.7rem;
$weather_button_border_radius: 0.3rem;
$weather_button_border_width: 0.1rem;
$weather_info_padding: 0.1rem 0;
$weather_location_margin_top: 1.2rem;
$weather_location_margin_bottom: 2rem;
$weather_location_font_size: 2.5rem;
$weather_message_font_size: 1.1rem;
$weather_option_font_size: 0.95rem;
$weather_select_margin_bottom: 0.5rem;
$weather_select_padding: 0.7rem 0.3rem;
$weather_select_margin_right: 1rem;
$weather_select_border_radius: 0.3rem;
$weather_select_border_width: 0.1rem;
$weather_track_negative_margin: -1rem;
$weather_track_padding: 1rem;
$weather_track_font_size: 2.1rem;
$weather_track_border_radius: 0.3rem;

// article
$article_margin_bottom: 2rem;
$article_left_margin_right: 0.8rem;
$article_date_margin_bottom: 0.3rem;
$article_heading_margin_top: 0.5rem;
$article_heading_font_size: 1.13rem;

// comment
$comment_margin_bottom: 1rem;
$comment_box_margin_left: 3rem;
$comment_left_margin_right: 0.7rem;
$comment_controls_margin_bottom: 1.2rem;
$comment_date_font_size: 0.9rem;
$comment_footer_margin_top: 0.5rem;
$comment_footer_line_height: 1.4rem;
$comment_header_margin_top: 0.3rem;
$comment_header_margin_bottom: 0.5rem;
$comment_input_padding: 0.7rem 1rem;
$comment_input_margin_bottom: 1.2rem;
$comment_input_flex: 0 0 5rem;
$comment_input_font_family: 'Times New Roman', Times, serif;
$comment_input_font_size: 1rem;
$comment_input_border_width: 0.15rem;
$comment_input_border_radius: 0.2rem;
$comment_input_placeholder_font_size: 1.1rem;
$comment_liked_font_size: 0.9rem;
$comment_link_font_size_small: 0.9rem;
$comment_submit_padding: 0.5rem 1rem;
$comment_submit_margin_right: 1rem;
$comment_text_margin: 0.5rem 0;
$comment_text_line_height: 1.2rem;

// social
$social_column_width: 2.5rem;
$social_row_gap: 0.5rem;
$social_column_gap: 1rem;
$social_margin_bottom: 2.5rem;
$social_circle_padding: 0.5rem;
$social_circle_border_radius: 50%;
$social_circle_width: 1.5rem;
$social_icon_font_size: 1.2rem;

// subscribe
$subscribe_email_margin_bottom: 1rem;
$subscribe_email_padding: 0.5rem 1rem;
$subscribe_email_width_small: 50%;
$subscribe_heading_letter_spacing: 0.1rem;
$subscribe_submit_padding: 1.2rem 1rem;
$subscribe_submit_font_size: 0.95rem;
$subscribe_submit_letter_spacing: 0.05rem;
$subscribe_submit_width_small: 50%;

// header 
$header_top_padding: 1rem 0;
$header_logo_margin_right: 3rem;
$header_logo_flex: 100%;
$header_logo_margin_bottom: 1.5rem;
$header_time_margin_left: 0.3rem;
$header_icons_grid_col_low: 3rem;
$header_icons_grid_col_high: 1fr;
$header_icons_row_gap: 1rem;
$header_icons_col_gap: 2rem;
$header_icons_flex: 0 1 40rem;
$header_icons_breakpoint: 64rem;
$header_icons_margin_bottom_small: 1rem;
$header_circle_padding: 0.35rem;
$header_circle_border_radius: 50%;
$header_feature_breakpoint: 42rem;

// footer
$footer_caption_margin_bottom: 1.5rem;
$footer_caption_letter_spacing: 0.1rem;
$footer_caption_font_size: 0.85rem;
$footer_content_padding: 3rem;
$footer_content_breakpoint: 40rem;
$footer_heading_margin_bottom: 2.5rem;
$footer_heading_letter_spacing: 0.15rem;
$footer_heading_font_size_small: 1.2rem;
$footer_item_margin_bottom: 0.8rem;
$footer_links_margin_right: 5rem;
$footer_links_flex: 2;
$footer_list_margin: 2rem;
$footer_media_flex: 1;

// home
$home_background_image: "../images/leaves3.jpg";
$home_cards_width: 9rem;
$home_cards_gap: 0.3rem;
$home_cards_breakpoint: 30rem;
$home_cards_margin_bottom: 1.5rem;
$home_content_padding: 1.5rem;
$home_events_margin_bottom: 1.5rem;
$home_events_border_radius: 0.35rem;
$home_events_background_image: "../images/nature.jpg";
$home_events_height: 23rem;
$home_news_padding: 1rem;
$home_news_padding_bottom: 1.5rem;
$home_news_border_radius: 0.35rem;