/* reset */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

/* page */
.page {
  min-width: 20rem;
}
.page__content {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

/* logo */
.logo__legal {
  color: #0f8600;
}
.logo__link {
  display: inline-block;
  text-align: center;
}
.logo__text {
  font-size: 1.2rem;
  font-weight: bold;
}
.logo__trump {
  color: #065397;
}

/* menu */
.menu--margin {
  margin-right: 1rem;
}
.menu__item {
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: #6d6d64;
}
.menu__link {
  display: inline-block;
  padding: 0.1rem 0.8rem;
  color: #6d6d64;
}
.menu__link:hover {
  color: #52524c;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

/* login */
.login {
  display: flex;
  flex-wrap: nowrap;
}
.login--margin {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
@media only screen and (max-width: 34rem) {
  .login {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.login__link {
  padding: 0.4rem 0.8rem;
  background-color: #4aa93f;
  color: white;
}
.login__text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.35rem 0.8rem;
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: #b7b2b2;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #b7b2b2;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: #b7b2b2;
  color: #565656;
}

/* search */
.search {
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 34rem) {
  .search {
    flex: 100%;
    justify-content: center;
  }
}
.search__button {
  padding: 0.4rem 0.5rem;
  border: none;
  background-color: #4aa93f;
  color: white;
  cursor: pointer;
  outline: none;
}
.search__icon {
  font-size: 1.2rem;
}
.search__input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  outline: none;
  border-top-style: solid;
  border-top-width: 0.12rem;
  border-top-color: #b7b2b2;
  border-bottom-style: solid;
  border-bottom-width: 0.12rem;
  border-bottom-color: #b7b2b2;
  border-left-style: solid;
  border-left-width: 0.12rem;
  border-left-color: #b7b2b2;
  border-right-style: none;
}

/* navigation */
@media only screen and (max-width: 49rem) {
  .navigation {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
  }
}
.navigation__item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.navigation__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: #3a3a3a;
  padding: 1rem 0.7rem;
  color: white;
}
@media only screen and (max-width: 49rem) {
  .navigation__link {
    border-right: none;
    color: #015597;
    font-weight: bold;
  }
}
.navigation__link:hover {
  background-color: #272727;
}
@media only screen and (max-width: 49rem) {
  .navigation__link:hover {
    background-color: white;
    color: #00355f;
  }
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 49rem) {
  .navigation__list {
    flex-direction: column;
  }
}
.navigation__plus {
  margin-left: 0.3rem;
  color: #888a88;
}
.navigation__close {
  display: none;
  margin: 1rem;
  text-align: right;
}
@media only screen and (max-width: 49rem) {
  .navigation__close {
    display: block;
  }
}
.navigation__close-link {
  display: inline-block;
  color: #015597;
}
.navigation__close-link:hover {
  color: #00355f;
}
.navigation__close-icon {
  font-size: 1.4rem;
}

/* dropdown */
.dropdown:hover .dropdown__list {
  display: block;
}
.dropdown__link {
  display: block;
  padding: 1rem 0.7rem;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #3a3a3a;
  border-left-style: solid;
  border-left-width: 0.1rem;
  border-left-color: #3a3a3a;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: #3a3a3a;
}
@media only screen and (max-width: 49rem) {
  .dropdown__link {
    padding-left: 2rem;
    background-color: white;
    color: #015597;
    font-weight: bold;
    border: none;
  }
}
.dropdown__link:hover {
  background-color: #272727;
}
@media only screen and (max-width: 49rem) {
  .dropdown__link:hover {
    background-color: white;
    color: #00355f;
  }
}
.dropdown__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  background-color: #484846;
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: #3a3a3a;
}
@media only screen and (max-width: 49rem) {
  .dropdown__list {
    position: unset;
    border-top: none;
  }
}
/* hamburger */
.hamburger {
  display: none;
}
@media only screen and (max-width: 49rem) {
  .hamburger {
    display: block;
  }
}
.hamburger__link {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: white;
}
.hamburger__link:hover {
  color: silver;
}

/* commercial */
.commercial {
  display: flex;
  flex-wrap: wrap;
}
.commercial__image {
  flex: 1 1 9rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 59rem) {
  .commercial__image {
    flex: 1 1 16rem;
  }
}
@media only screen and (max-width: 49rem) {
  .commercial__image:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 35.5rem) {
  .commercial__image {
    flex: 100%;
  }
  .commercial__image:nth-of-type(2n + 1) {
    margin-right: 0;
  }
}
.commercial__image--corporate {
  background-image: url("../images/corporate-laws.jpg");
}
.commercial__image--civil {
  background-image: url("../images/civil-laws.jpg");
}
.commercial__image--criminal {
  background-image: url("../images/criminal-laws.jpg");
}
.commercial__image--family {
  background-image: url("../images/family-laws.jpg");
}
.commercial__text {
  padding: 0.7rem;
  margin-bottom: 5.2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #494d4c;
  background-color: rgba(255, 255, 255, 0.85);
}

/* card */
.card {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.4rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #dadada;
}
.card__button {
  margin-top: auto;
}
.card__heading {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #494948;
}
.card__left {
  margin-right: 0.7rem;
}
.card__link {
  display: inline-block;
}
.card__right {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.card__text {
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  color: #656464;
}

/* button */
.button {
  display: inline-block;
  padding: 0.4rem 0.7rem;
  color: white;
  background-color: #48aa3f;
  font-weight: bold;
}
.button:hover {
  background-color: #298422;
}

/* news */
.news {
  display: flex;
  flex-wrap: wrap;
}
.news + .news {
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: #dadada;
  padding-top: 0.9rem;
}
.news:last-of-type {
  margin-bottom: 1rem;
}
.news__about {
  color: #4a6129;
}
.news__content {
  flex: 1;
  margin-right: 3rem;
}
@media only screen and (max-width: 43rem) {
  .news__content {
    flex: 100%;
    margin-right: 0;
  }
}
.news__date {
  margin-bottom: 1rem;
  font-weight: bold;
}
.news__heading {
  margin-top: 0;
  margin-bottom: 0.7rem;
  color: #4a6129;
}
.news__icon {
  margin-right: 0.6rem;
}
.news__info {
  flex: 0 0 10rem;
  text-align: center;
}
@media only screen and (max-width: 43rem) {
  .news__info {
    margin-bottom: 0.9rem;
    text-align: left;
  }
}
.news__text {
  margin-top: 0;
  color: #656464;
  font-size: 0.9rem;
}

/* lawyer */
.lawyer__content {
  padding: 0.6rem;
  background-color: #e9eee7;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #c7c7c7;
  border-left-style: solid;
  border-left-width: 0.1rem;
  border-left-color: #c7c7c7;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: #c7c7c7;
}
.lawyer__heading {
  padding: 0.5rem 0.6rem;
  font-weight: bold;
  color: white;
  background-color: #00559e;
}
.lawyer__pointer {
  margin-right: 0.3rem;
}
.lawyer__select {
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  width: 100%;
  outline: none;
  color: #656464;
}
.lawyer__submit {
  padding: 0.4rem 0.65rem;
  background-color: #48aa3f;
  font-size: 1rem;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.lawyer__submit:hover {
  background-color: #298422;
}

/* articles */
.articles__heading {
  padding: 0.5rem 0.6rem;
  background-color: #464a49;
  color: white;
  font-weight: bold;
}
.articles__item {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  list-style-image: url("../images/play3.png");
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #e4e4e4;
}
.articles__link {
  display: block;
  color: #656464;
}
.articles__link:hover {
  color: #383737;
}
.articles__list {
  margin: 0;
  padding: 1rem;
  padding-left: 2rem;
  list-style-type: none;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #c7c7c7;
  border-left-style: solid;
  border-left-width: 0.1rem;
  border-left-color: #c7c7c7;
  border-right-style: solid;
  border-right-width: 0.1rem;
  border-right-color: #c7c7c7;
}

/* ad */
@media only screen and (max-width: 49rem) {
  .ad {
    display: none;
  }
}
.ad--margin {
  margin-bottom: 1rem;
}
.ad__image {
  width: 100%;
  height: auto;
}
.ad__link {
  display: block;
}

/* social */
.social {
  display: flex;
  flex-wrap: wrap;
}
.social__icon {
  font-size: 2.4rem;
}
.social__link {
  display: inline-block;
  margin-right: 0.4rem;
  margin-bottom: 0.1rem;
  color: #686565;
}
.social__link:hover {
  color: #332f2f;
}

/* header */
.header__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.8rem 1rem;
  background-color: #849573;
  color: white;
}
@media only screen and (max-width: 46rem) {
  .header__info {
    flex: 100%;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 31rem) {
  .header__call {
    flex: 100%;
    margin-bottom: 0.5rem;
  }
}
.header__call::after {
  content: "|";
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
@media only screen and (max-width: 31rem) {
  .header__call::after {
    content: "";
    margin: 0;
  }
}
.header__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.header__login {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 34rem) {
  .header__login {
    justify-content: center;
  }
}
.header__logo {
  margin-right: 2rem;
}
@media only screen and (max-width: 54rem) {
  .header__logo {
    margin: auto;
  }
}
.header__navigation {
  background-color: #484846;
  border-top-style: solid;
  border-top-width: 0.1rem;
  border-top-color: #3a3a3a;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: #3a3a3a;
}
@media only screen and (max-width: 54rem) {
  .header__search {
    flex: 100%;
    margin-top: 2rem;
  }
}
.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* footer */
.footer {
  background-color: #e7e7e7;
}
.footer__copyright {
  margin-bottom: 0.5rem;
  padding: 0.6rem 1.3rem;
  background-color: #c9c9c9;
  color: #404040;
  font-size: 0.83rem;
}
.footer__heading {
  margin-top: 0;
  margin-bottom: 0.7rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.2rem;
  border-bottom-color: #d3d3d3;
}
.footer__link {
  display: block;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
  color: #5d5654;
}
.footer__link:hover {
  color: #1d1d1d;
  text-decoration: underline;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
}
.footer__list--links {
  flex: 1;
  margin-right: 2.8rem;
}
@media only screen and (max-width: 49rem) {
  .footer__list--links {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 26rem) {
  .footer__list--links {
    flex: 100%;
    margin-right: 0;
  }
}
.footer__list--services {
  margin-right: 2.8rem;
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 49rem) {
  .footer__list--services {
    flex: 100%;
    margin-right: 0;
    order: 1;
  }
}
@media only screen and (max-width: 26rem) {
  .footer__list--services {
    margin-bottom: 1rem;
    order: 0;
  }
}
.footer__list--connect {
  flex: 1;
}
.footer__list-part {
  flex: 1;
}
.footer__list-part + .footer__list-part {
  margin-left: 2.8rem;
  margin-top: 2.8rem;
}
@media only screen and (max-width: 26rem) {
  .footer__list-part + .footer__list-part {
    margin: 0;
  }
}
@media only screen and (max-width: 26rem) {
  .footer__list-part {
    flex: 100%;
  }
}
.footer__track {
  height: 0.25rem;
  background-repeat: repeat;
  background-size: contain;
}
.footer__track--top {
  background-image: url("../images/track-top.png");
}
.footer__track--bottom {
  background-image: url("../images/track-bottom.png");
}

/* home */
.home {
  padding: 2rem 0;
}
.home__aside {
  flex: 1;
}
@media only screen and (max-width: 49rem) {
  .home__aside {
    margin-top: 2rem;
  }
}
.home__articles {
  margin-bottom: 1rem;
}
.home__content {
  flex: 3;
  margin-right: 2rem;
}
@media only screen and (max-width: 49rem) {
  .home__content {
    flex: 100%;
    margin-right: 0;
  }
}
.home__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 1.2rem;
  column-gap: 0.6rem;
}
.home__heading {
  margin-top: 0;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 2.7rem;
}
@media only screen and (max-width: 49rem) {
  .home__heading {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}
.home__lawyer {
  margin-bottom: 1rem;
}
.home__subheading {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 1.6rem;
}
@media only screen and (max-width: 49rem) {
  .home__subheading {
    font-size: 1.4rem;
  }
}
.home__wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* utility helper classes */
.show {
  display: block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
