// colors


// base
$body_background_color: #222b32;

// page

// hamburger
$hamburger_button_background_color: #318b58;
$hamburger_button_background_color_hover: #2b7a4e;
$hamburger_button_color: white;

// search
$search_border_color: #a7b596;
$search_border_color_active: #79a645;
$search_background_color: #374750;
$search_box_color: white;
$search_icon_color: white;
$search_icon_color_hover: #cacacb;

// navigation
$navigation_background_color: #303e45;
$navigation_link_background_color: #191d23;
$navigation_link_color: white;
$navigation_icon_color: #1e8650;
$navigation_text_color: #dcdcdc;
$navigation_close_color: white;
$navigation_close_color_hover: #dadada;

// breadcrumbs
$breadcrumbs_link_color: white;
$breadcrumbs_link_color_hover: #dcdcdc;

// matches
$matches_icon_color: white;
$matches_icon_color_hover: #dcdcdc;
$matches_search_color: white;
$matches_search_background_color: #77a645;
$matches_text_color: white;

// properties
$properties_window_border_color: gray;
$properties_image_color_hover: #1e8650;
$properties_entry_color_hover: #dcdcdc;
$properties_entry_background_color_hover: #313131;
$properties_window_background_color: black;
$properties_window_color: white;

// header
$header_border_color: #585858;
$header_link_color: white;
$header_link_color_hover: #dcdcdc;

// footer

// home
$home_content_background_color: white;
$home_size_color: white;