/* page */

@use '../utilities/variables';

.page {

    min-width: variables.$page_min_width;
    
    &__content {
        padding-left: variables.$page_content_padding;
        padding-right: variables.$page_content_padding;

        // set maximum width and center content on page
        max-width: variables.$page_content_max_width;
        margin: 0 auto;

        // use border box model to include paddings, etc. in box maximum width
        box-sizing: border-box;
    }
}