// colors


// reset

// page

// logo
$logo_legal_color: #0f8600;
$logo_trump_color: #065397;

// menu
$menu_item_border_color: #6d6d64;
$menu_link_color: #6d6d64;
$menu_link_color_hover: #52524c;

// login

// search

// navigation

// commercial

// card

// button

// news

// lawyer

// articles

// ad

// social

// header
$header_info_background_color: #849573;
$header_info_color: white;

// footer

// home
