/* ad */

@use '../utilities/colors';
@use '../utilities/variables';
@use '../utilities/mixins/mixins';

.ad {
    
    // for one column layout hide ads
    @include mixins.media_screen_breakpoint($breakpoint: variables.$home_content_breakpoint) {
        display: none;
    }

    // block modifier for margin
    &--margin {
        margin-bottom: variables.$ad_margin_bottom;
    }

    &__image {
        // spread image to full width, but keep good propotions with auto height
        width: variables.$ad_image_width;
        height: auto;
    }

    &__link {
        display: block;
    }
}