/* reset */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* wrapper */
.wrapper {
  min-width: 20rem;
}
.wrapper__content {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  max-width: 80rem;
}

/* logo */
.logo {
  text-align: center;
}
.logo--margins {
  margin-top: 1rem;
  margin-bottom: -10rem;
}
@media only screen and (max-width: 35rem) {
  .logo--margins {
    margin: auto;
  }
}
.logo__link {
  display: inline-block;
}

/* navigation */
.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.navigation__link {
  display: block;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  color: #808080;
}
.navigation__link:hover {
  color: #615e5e;
}

/* hamburger */
.hamburger {
  display: none;
}
@media only screen and (max-width: 70rem) {
  .hamburger {
    display: block;
  }
}
.hamburger__icon {
  font-size: 1.3rem;
  color: #676767;
}
.hamburger__icon:hover {
  color: #464242;
}
.hamburger__icon--open {
  display: none;
}
.hamburger__link {
  display: inline-block;
}
.hamburger__link:hover .hamburger__icon--open {
  display: inline-block;
}
.hamburger__link:hover .hamburger__icon--close {
  display: none;
}

/* submenu */
.submenu {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.submenu--active {
  display: flex;
  flex-wrap: wrap;
  margin-left: 14.5rem;
}
.submenu__link {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: #5e5d5d;
}
.submenu__link:hover {
  color: #757575;
}

/* slides */
.slides {
  height: 60rem;
  background-image: url("../images/tree_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 60rem) {
  .slides {
    height: 40rem;
  }
}
@media only screen and (max-width: 43rem) {
  .slides {
    height: 30rem;
  }
}
@media only screen and (max-width: 33rem) {
  .slides {
    display: none;
  }
}
.slides__content {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.slides__control {
  padding: 1.3rem 1.8rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4rem;
}
.slides__control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 43rem) {
  .slides__control {
    padding: 1rem 1.5rem;
  }
}
.slides__icon {
  font-size: 2.3rem;
  color: white;
}
@media only screen and (max-width: 43rem) {
  .slides__icon {
    font-size: 2rem;
  }
}

/* card */
.card {
  display: flex;
  flex-wrap: nowrap;
  padding: 1.2rem;
  background-color: white;
  box-shadow: 0px 4px 5px 0px silver;
}
@media only screen and (max-width: 60rem) {
  .card {
    margin-bottom: 1.5rem;
    box-shadow: none;
    justify-content: space-between;
    flex: 0 1 22rem;
  }
}
@media only screen and (max-width: 24rem) {
  .card {
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 33rem) {
  .card {
    flex: 1;
  }
}
.card + .card {
  margin-left: 1.5rem;
}
@media only screen and (max-width: 60rem) {
  .card + .card {
    margin-left: 0;
  }
}
.card__button {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: #8ec33b;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-width: 0.12rem;
  border-color: #8bb273;
  border-radius: 0.3rem;
  transition: 0.5s background-color;
}
.card__button:hover {
  background-color: #7cad2e;
}
.card__heading {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 24rem) {
  .card__heading {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
}
.card__info {
  margin-right: 0.7rem;
}
.card__media {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: -2.5rem;
  margin-right: -2rem;
}
@media only screen and (max-width: 60rem) {
  .card__media {
    margin-right: 0;
    margin-top: 0;
  }
}
.card__right {
  font-size: 0.7rem;
}
.card__text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}
@media only screen and (max-width: 24rem) {
  .card__text {
    margin-top: 1.2rem;
    order: 1;
  }
}
.card__title {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-weight: normal;
}
.card__title--level-1 {
  text-transform: uppercase;
  font-size: 0.95rem;
  color: #7b7272;
}
.card__title--level-2 {
  color: #4e4d4d;
  font-size: 1.4rem;
}
.card__uppercase {
  text-transform: uppercase;
}

/* article */
.article {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.article__button {
  padding: 0.5rem 0.7rem;
  background-color: white;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-style: inset;
  border-top-width: 0.3rem;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-left-style: inset;
  border-left-width: 0.3rem;
  border-left-color: rgba(255, 255, 255, 0.3);
  cursor: unset;
}
.article__button + .article__button {
  margin-left: 0.12rem;
}
.article__button--active {
  background-color: #8ec33b;
  border-top-color: rgba(94, 136, 28, 0.1);
  border-left-color: rgba(94, 136, 28, 0.1);
  cursor: pointer;
}
.article__button--active .article__navigation {
  color: #31690b;
}
.article__button--active:hover {
  background-color: #82b335;
}
.article__buttons {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.3rem;
  margin-right: 1.4rem;
  background-color: #efefef;
  border-radius: 0.25rem;
}
.article__footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: auto;
}
.article__heading {
  margin: 0;
  font-weight: normal;
  font-size: 1.6rem;
  color: #413f3f;
}
.article__navigation {
  color: #a1ce83;
}
.article__read-more {
  color: #008800;
  white-space: nowrap;
}
.article__read-more:hover {
  text-decoration: underline;
}
.article__subheading {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #716f6f;
}
.article__text {
  margin-top: 0;
  line-height: 1.4rem;
  font-size: 0.95rem;
  color: #615e5e;
}
.article__uppercase {
  text-transform: uppercase;
}

/* redirect */
.redirect {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #555353;
}
.redirect:hover .redirect__text {
  text-decoration: underline;
}
.redirect__text {
  margin-right: 0.65rem;
}
.redirect__arrow {
  font-size: 0.7rem;
}

/* social */
.social__icon {
  font-size: 1.2rem;
  color: white;
  margin: auto;
}
.social__link {
  margin: 0.2rem;
  display: inline-block;
}
.social__circle {
  display: flex;
  flex-wrap: nowrap;
  width: 1.5rem;
  padding: 0.35rem;
  background-color: black;
  border-radius: 50%;
}
.social__circle--pinterest {
  background-color: #ab4e23;
}
.social__circle--pinterest:hover {
  background-color: #c25c2d;
}
.social__circle--twitter {
  background-color: #54bf98;
}
.social__circle--twitter:hover {
  background-color: #60d1a8;
}
.social__circle--facebook {
  background-color: #1e706d;
}
.social__circle--facebook:hover {
  background-color: #288a86;
}
.social__circle--amazon {
  background-color: #c34923;
}
.social__circle--amazon:hover {
  background-color: #d8542c;
}
.social__circle--linkedin {
  background-color: #51a6a2;
}
.social__circle--linkedin:hover {
  background-color: #61bdb8;
}
.social__circle--google {
  background-color: #263519;
}
.social__circle--google:hover {
  background-color: #2f3f21;
}

/* submit */
.submit--margin-bottom {
  margin-bottom: 2.5rem;
}
.submit__button {
  padding: 0.85rem;
  background-color: #3e6319;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  outline: none;
  cursor: pointer;
  border-style: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.submit__error {
  font-weight: bold;
  color: #9a0606;
}
.submit__heading {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 0.95rem;
  color: #1e330a;
  letter-spacing: 0.05rem;
}
.submit__input {
  padding: 0.6rem 1rem;
  background-color: #50901c;
  color: #d1ffae;
  outline: none;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #50901c;
}
.submit__input--error {
  border-color: #9a0606;
}
.submit__input::placeholder {
  color: white;
}
.submit__inputs {
  display: flex;
  flex-wrap: nowrap;
}
/* article-block */
.article-block__heading {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #716f6f;
}
.article-block__read-more {
  color: #008800;
  white-space: nowrap;
}
.article-block__read-more:hover {
  text-decoration: underline;
}
.article-block__text {
  margin-top: 0;
  line-height: 1.4rem;
  font-size: 0.95rem;
  color: #615e5e;
}
.article-block__uppercase {
  text-transform: uppercase;
}

/* header */
@media only screen and (max-width: 33rem) {
  .header__bottom {
    background-color: #66a91d;
  }
}
.header__icon {
  font-size: 1.2rem;
}
.header__language {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-style: italic;
  color: #8d8c8c;
}
@media only screen and (max-width: 70rem) {
  .header__language {
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 35rem) {
  .header__language {
    margin-left: 0;
  }
}
.header__link {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.4rem;
  text-transform: uppercase;
  color: #5f5f5f;
}
@media only screen and (max-width: 33rem) {
  .header__link {
    color: white;
  }
}
.header__register {
  font-size: 0.75rem;
  font-weight: bold;
}
@media only screen and (max-width: 70rem) {
  .header__login {
    text-align: right;
  }
}
.header__navigation {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}
@media only screen and (max-width: 35rem) {
  .header__navigation {
    display: block;
  }
}
.header__nav {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1.5rem;
}
@media only screen and (max-width: 70rem) {
  .header__nav {
    display: none;
  }
}
.header__hamburger {
  margin-top: 1.5rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 70rem) {
  .header__menu {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.header__submenu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media only screen and (max-width: 70rem) {
  .header__submenu {
    display: block;
  }
}
@media only screen and (max-width: 70rem) {
  .header__submenu-list {
    display: none;
  }
}
.header__top {
  background: white;
  background: linear-gradient(180deg, white 0%, #fdfdfd 82%, #f6f7f6 92%, #f1f3f1 98%, #f1f0f1 100%);
}

/* footer */
.footer {
  background-image: url("../images/green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__copy {
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  background-color: rgba(51, 113, 20, 0.8);
}
.footer__copyright-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer__copyright {
  color: white;
  font-size: 0.7rem;
}
@media only screen and (max-width: 41rem) {
  .footer__forms {
    flex: 100%;
    margin-top: 3rem;
  }
}
.footer__heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
}
.footer__item {
  margin-bottom: 0.5rem;
}
.footer__join {
  margin-right: 0.7rem;
  text-transform: uppercase;
  color: #1e330a;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}
.footer__link {
  font-size: 0.9rem;
  color: #a2c785;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__link--small {
  font-size: 0.7rem;
}
.footer__terms {
  margin-left: 0.7rem;
  font-size: 0.7rem;
}
.footer__terms::before {
  content: "|";
  margin-right: 0.7rem;
  color: #a2c785;
}
@media only screen and (max-width: 32rem) {
  .footer__terms {
    flex: 100%;
    margin-left: 0;
    margin-top: 0.3rem;
  }
  .footer__terms::before {
    content: "";
    margin-right: 0;
  }
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1.5rem;
  flex: 1;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__list--margin-bottom {
  margin-bottom: 2rem;
}
.footer__lists {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  background-color: rgba(65, 127, 16, 0.8);
}
@media only screen and (max-width: 41rem) {
  .footer__lists {
    padding-bottom: 2rem;
  }
}
.footer__logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@media only screen and (max-width: 53rem) {
  .footer__logo {
    margin-bottom: 0.8rem;
  }
}
.footer__savor {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.footer__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media only screen and (max-width: 53rem) {
  .footer__social {
    flex: 100%;
  }
}
.footer__tm {
  margin-left: 0.2rem;
  font-size: 0.65rem;
  vertical-align: text-top;
}
.footer__top {
  background: #1a2f06;
  background: linear-gradient(180deg, rgba(26, 47, 6, 0.95) 0%, rgba(96, 175, 21, 0.8) 82%);
  border-bottom-style: double;
  border-bottom-width: 0.2rem;
  border-bottom-color: #247b24;
}
.footer__top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer__trademark {
  margin-left: 1.8rem;
  text-transform: uppercase;
  color: white;
}
@media only screen and (max-width: 23rem) {
  .footer__trademark {
    margin-left: 1rem;
  }
}
.footer__uppercase {
  text-transform: uppercase;
}

/* home */
.home {
  padding-bottom: 3rem;
}
.home__articles {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
}
@media only screen and (max-width: 60rem) {
  .home__articles {
    margin-top: 1.5rem;
    padding-top: 2rem;
    border-top-style: solid;
    border-top-width: 0.15rem;
    border-top-color: #dadada;
  }
}
.home__cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: -12.5rem;
}
@media only screen and (max-width: 60rem) {
  .home__cards {
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 1.5rem;
  }
}

/* articles */
.articles {
  padding-top: 2.7rem;
  padding-bottom: 3rem;
}
.articles__content {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
}
.articles__heading {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 1.6rem;
  color: #413f3f;
}

/* article-page */
.article-page {
  padding-top: 2.7rem;
  padding-bottom: 3rem;
}
.article-page__content {
  margin-bottom: 1rem;
}
.article-page__heading {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 1.6rem;
  color: #413f3f;
}
.article-page__text {
  margin-top: 0;
  line-height: 1.4rem;
  font-size: 0.95rem;
  color: #615e5e;
}
.article-page__uppercase {
  text-transform: uppercase;
}
/* mobile menu */
.mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30%;
  background-color: #66a91d;
  overflow: auto;
}
.mobile-menu__close {
  display: block;
  text-align: right;
}
.mobile-menu__close-link {
  display: inline-block;
  margin: 1rem;
  margin-right: 0.8rem;
  color: white;
  font-size: 1.5rem;
}
.mobile-menu__navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mobile-menu__navigation-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  font-weight: bold;
}
.mobile-menu__submenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
.mobile-menu__submenu--active {
  display: block;
}
.mobile-menu__submenu-link {
  display: block;
  padding: 1rem;
  padding-left: 2rem;
  color: white;
  font-weight: bold;
}
.mobile-menu__submenu-link:hover {
  background-color: white;
  color: #66a91d;
}

/* utility helper classes */
.show {
  display: block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
