// colors


// reset
$body_background_color: #0ea1ff;

// page
$page_center_background_color: #f5f5f5;
$page_content_background_color: white;

// circle
$circle_border_color: #e4e9ec;

// wifi
$wifi_link_color: white;

// header
$header_background_color: #10adfc;
$header_color: white;
$header_link_color: white;

// battery
$battery_background_color: $header_background_color;   // compatible with header
$battery_content_border_color: #67d4ff;
$battery_level_background_color: white;
$battery_level_low_background_color: #ca0f0f;
$battery_triangle_color: #67d4ff;

// navigation
$navigation_heading_background_color: #f3f3f3;
$navigation_heading_color: #626a77;
$navigation_icon_color: #d8d8d8;
$navigation_icon_ok_color: #1fb5fc;
$navigation_icon_warning_color: #e81111;
$navigation_icon_background_color: white;
$navigation_link_hover_border_color: #8adaff;
$navigation_link_hover_background_color: #f4fcff;
$navigation_link_active_background_color: #f4fcff;
$navigation_link_active_border_color: #2cb3f1;
$navigation_text_active_color: #2cb3f1;
$navigation_text_color: #5a5f6e;

// choice
$choice_answer_active_background_color: #e8f6ff;
$choice_answer_active_color: #0ea7ef;
$choice_answer_border_color: #4ca9d5;

// list

// numbers

// checkbox

// measure
$measure_sign_background_color: #0ea1ff;
$measure_sign_color: white;
$measure_sign_border_color: #108ddb;
$measure_sign_hover_background_color: #1f8acc;
$measure_sign_hover_border_color: #1775af;
$measure_disabled_background_color: #8ecff7;
$measure_disabled_border_color: #64baef;

// calculation
$calculation_content_color: white;
$calculation_content_color_deficit: #d60b0b;
$calculation_content_color_normal: #14adaa;
$calculation_content_color_excessive: #d46208;
$calculation_content_color_obesity_1st: #9ead06;
$calculation_content_color_obesity_2nd: #6d7705;
$calculation_content_color_obesity_3rd: black;

// pharmacy

// score
$score_button_back_border_color: #dadbe2;
$score_button_back_background_color: #fafbfd;
$score_button_back_hover_background_color: #e5e7ec;
$score_icon_back_color: #d0d0d4;
$score_icon_back_hover_color: #aaaaaf;
$score_text_back_color: #424956;
$score_next_border_color: #4ec58f;
$score_next_background_color: #17dd7e;
$score_icon_next_color: #f0fffa;
$score_text_next_color: #f0fffa;
$score_next_hover_border_color: #11b666;
$score_next_hover_background_color: #13c770;
$score_level_background_color: #1fb5ff;
$score_percentage_color: #6f7484;
$score_progress_background_color: #e1e3ea;

// home
$home_border_color: #e4e8ea;
$home_content_color: #656577;
$home_heading_color: #4c5262;
$home_question_color: #677286;
$home_error_color: #e81111;