// variables 


// reset 
$body_font_family: 'Times New Roman', Times, serif;

// media screen
$media_screen_small: 20rem;
$media_screen_medium: 40rem;
$media_screen_large: 60rem;
$media_screen_huge: 80rem;

// page
$page_padding: 0 1rem;
$page_min_width: 20rem;
$page_center_modifier_margin: 10rem auto;
$page_center_padding: 3rem 0;
$page_center_border_radius: 6rem;
$page_aside_flex: 15rem;
$page_content_flex: 80rem;

// circle
$circle_dimension: 4rem;
$circle_dimension_small: 1rem;
$circle_border_width: 0.2rem;
$circle_border_radius: 50%;

// wifi

// battery

// navigation

// choice

// list

// numbers

// checkbox

// measure

// calculation

// pharmacy

// score

// header

// home
$home_border_width: 0.15rem;
$home_aside_flex: 0 0 20rem;
$home_wrapper_flex: 1;