/* home */ 

@use '../utilities/colors';
@use '../utilities/variables';
@use '../utilities/mixins/mixins';

.home {
    
    &__content {
        margin: 0 variables.$home_content_margin;
        background-color: colors.$home_content_background_color;
        min-height: variables.$home_content_min_height;

        // dark mode for content
        &--dark {
            background-color: colors.$home_content_background_color_dark;
        }

        // night mode for content
        &--night {
            background-color: colors.$home_content_background_color_night;

            // change background for night mode
            .files__link:hover {
                background-color: colors.$files_link_hover_background_color_night;
                border-color: colors.$files_link_hover_border_color_night;
            }
        }

        // grouped colors for dark and night mode
        &--dark, &--night {

            .files__name {
                color: colors.$files_name_color_dark;
            }

            .files__link:hover .files__name {
                color: colors.$files_name_hover_color_dark;
            }

            // also change some icon colors
            .files__icon {

                &--video {
                    color: colors.$files_icon_video_color_dark;
                }

                &--text {
                    color: colors.$files_icon_text_color_dark;
                }
            }
        }
    }

    &__properties {
        // set gap between rows and columns for flexbox container
        gap: variables.$home_properties_gap;

        padding: variables.$home_properties_padding;
        min-height: variables.$home_properties_height;
    }

    &__search {
        padding: variables.$home_search_padding;
        min-height: variables.$home_search_height;
        background-color: colors.$body_background_color;

        @include mixins.set_borders($style: solid,
                                    $color: colors.$header_border_color, 
                                    $width: variables.$header_border_width);
    }

    &__size {
        margin-top: variables.$home_size_margin_top;
        margin-bottom: variables.$home_size_margin_bottom;
        padding: variables.$home_size_padding;
        background-color: colors.$navigation_link_background_color;
        border-radius: variables.$home_size_border_radius;
        color: colors.$home_size_color;

        // break long words if text overflows
        word-break: break-all;
    }
}