/* reset */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-image: url("../images/home-texture.jpg");
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

/* page */
.page {
  min-width: 20rem;
}
.page__content {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80rem;
  margin: 0 auto;
  box-sizing: border-box;
}

/* search */
.search {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2rem;
  margin-right: 3rem;
}
.search__button {
  padding: 0 0.7rem;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}
.search__icon {
  font-size: 0.7rem;
  color: #736d6d;
}
.search__recipe {
  padding: 0.6rem 0.9rem;
  outline: none;
  border: none;
}
.search__recipe::placeholder {
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #41403c;
}

/* arrows */
.arrows {
  display: inline-flex;
  flex-wrap: nowrap;
}
.arrows--gray .arrows__link {
  background-color: #d6cfbd;
  color: white;
}
.arrows--gray .arrows__link--active {
  background-color: #ee9610;
  color: white;
}
.arrows__link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 3.8rem;
  height: 2.6rem;
  background-color: white;
  color: #a2a0a0;
  cursor: auto;
}
.arrows__link--active {
  background-color: #ee9610;
  color: white;
  cursor: pointer;
}
.arrows__link--active:hover {
  background-color: #f7a221;
}
@media only screen and (max-width: 40rem) {
  .arrows__link {
    width: 3rem;
    height: 2.13rem;
  }
}
.arrows__icon {
  font-size: 0.7rem;
}

/* navigation */
.navigation__item {
  margin-bottom: 0.1rem;
}
.navigation__link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  color: #ca7c0c;
}
.navigation__link:hover {
  color: #e98b08;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* dropdown */
.dropdown__icon {
  margin-right: 0.4rem;
  font-size: 0.6rem;
}
.dropdown__link {
  color: #534c3c;
}
.dropdown__link:hover {
  color: #24211a;
}
.dropdown__list {
  display: none;
  padding-left: 1rem;
}
/* borders */
.borders--small .borders__top, .borders--small .borders__bottom {
  height: 0.6rem;
}
.borders--small .borders__left, .borders--small .borders__right {
  width: 0.6rem;
}
.borders__top, .borders__bottom, .borders__left, .borders__right {
  background-color: #d7d0be;
  position: absolute;
}
.borders__top, .borders__bottom {
  height: 1.2rem;
  left: 0;
  right: 0;
}
.borders__left, .borders__right {
  width: 1.2rem;
  top: 0;
  bottom: 0;
}
.borders__top {
  top: 0;
}
.borders__bottom {
  bottom: 0;
}
.borders__left {
  left: 0;
}
.borders__right {
  right: 0;
}

/* last-recipes */
.last-recipes__arrows {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.last-recipes__card--active .last-recipes__date, .last-recipes__card--active .last-recipes__heading, .last-recipes__card--active .last-recipes__heading:hover {
  color: #8c867a;
}
.last-recipes__card--active .last-recipes__link, .last-recipes__card--active .last-recipes__image-link {
  cursor: auto;
}
.last-recipes__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}
.last-recipes__date {
  text-transform: uppercase;
  color: #4a4333;
  font-weight: bold;
}
.last-recipes__heading {
  margin-top: 0.35rem;
  margin-bottom: 0;
  color: #d07e00;
}
.last-recipes__heading:hover {
  color: #e98b08;
}
.last-recipes__image {
  width: 100%;
}
.last-recipes__image-link {
  display: block;
  position: relative;
}
.last-recipes__link {
  display: inline-block;
}
.last-recipes__slides {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1rem;
}
.last-recipes__text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.last-recipes__track {
  flex: 1;
  height: 0.3rem;
  background-color: #e0daca;
}

/* categories */
.categories {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.categories__arrow {
  font-size: 0.55rem;
}
.categories__item {
  margin-bottom: 0.5rem;
}
.categories__link {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #d07e00;
}
.categories__link:hover {
  color: #e98b08;
}
.categories__link--active {
  cursor: auto;
  color: #8c867a;
}
.categories__link--active:hover {
  color: #8c867a;
}
.categories__name {
  margin-left: 0.6rem;
  margin-right: 0.35rem;
  font-weight: bold;
}

/* recipes */
.recipes__card {
  margin-bottom: 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.3rem;
  border-bottom-color: #e0daca;
}
.recipes__card--active .recipes__heading, .recipes__card--active .recipes__ingredients {
  color: #8c867a;
}
.recipes__card--active .recipes__image-link {
  cursor: auto;
}
.recipes__heading {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  color: #d07e00;
}
@media only screen and (max-width: 27rem) {
  .recipes__image {
    width: 100%;
    height: auto;
  }
}
.recipes__image-link {
  display: block;
  position: relative;
}
.recipes__ingredients {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #2f2c27;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.recipes__button {
  text-align: right;
}
@media only screen and (max-width: 27rem) {
  .recipes__button {
    text-align: left;
  }
}
.recipes__button--margin {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.recipes__more {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.9rem;
  color: #8c867a;
}
.recipes__more:hover {
  text-decoration: none;
}
.recipes__more--capitalize {
  text-transform: capitalize;
}
.recipes__picture {
  margin-right: 0.8rem;
  float: left;
}
@media only screen and (max-width: 27rem) {
  .recipes__picture {
    float: none;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
.recipes__text {
  margin-top: 0;
  line-height: 1.3rem;
  color: #5d5c57;
}

/* ads */
.ads__heading {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.6rem;
}
.ads__headings {
  text-transform: uppercase;
  color: #2b2923;
}
.ads__image {
  display: block;
  padding: 1.5rem;
  height: 9rem;
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
}
.ads__image + .ads__image {
  margin-top: 1rem;
}
.ads__image--fast-food {
  background-image: url("../images/aside/fast-food-2.jpg");
}
.ads__image--sushi {
  background-image: url("../images/aside/sushi-tai-2.jpg");
}
.ads__image--weight-loss {
  background-image: url("../images/aside/weight-loss-2.jpg");
}
.ads__subheading {
  margin-top: -0.1rem;
  margin-bottom: 0;
  font-size: 1.4rem;
}

/* top */
.top {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  position: fixed;
  right: 0.5rem;
  bottom: 3rem;
  border-radius: 50%;
  background-color: white;
  transition: opacity 0.35s;
  opacity: 0;
}
@media only screen and (max-width: 58rem) {
  .top {
    padding: 0.2rem 0.6rem;
  }
}
.top:hover {
  background-color: #837f74;
}
.top:hover .top__icon {
  color: white;
}
.top__icon {
  font-size: 3rem;
  color: #837f74;
}
@media only screen and (max-width: 58rem) {
  .top__icon {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 33rem) {
  .top__icon {
    font-size: 2rem;
  }
}

/* logo */
.logo {
  width: min-content;
}
.logo__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.55rem;
  letter-spacing: -0.2rem;
  color: #757064;
}

/* subscribe */
.subscribe {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.subscribe__button {
  align-self: flex-end;
  padding: 0;
  outline: none;
  border: none;
  background-color: unset;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.8rem;
  color: #655c49;
}
.subscribe__button:hover {
  text-decoration: none;
}
.subscribe__email {
  margin-bottom: 0.7rem;
  padding: 0.5rem 0.8rem;
  outline: none;
  background-color: #ece9e0;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #c5c0b5;
  border-radius: 0.2rem;
}

/* header */
.header {
  background-color: #e1d7cb;
}
.header__arrows {
  justify-content: flex-end;
}
@media only screen and (max-width: 40rem) {
  .header__arrows {
    margin-bottom: 1rem;
  }
}
.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30rem;
  background-image: url("../images/header/burritos.jpg");
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 40rem) {
  .header__content {
    height: 22rem;
  }
}
@media only screen and (max-width: 27rem) {
  .header__content {
    height: 17rem;
  }
}
.header__heading {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
}
.header__headings {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  margin-left: -1rem;
  width: 12rem;
  background-color: rgba(193, 120, 9, 0.85);
  color: white;
}
@media only screen and (max-width: 40rem) {
  .header__headings {
    flex: 1;
    margin-right: -1rem;
  }
}
.header__search {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  margin-right: -1rem;
}
@media only screen and (max-width: 40rem) {
  .header__search {
    flex: 100%;
    flex-direction: row;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 40rem) {
  .header__search {
    margin-right: 0;
  }
}
@media only screen and (max-width: 27rem) {
  .header__search {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 40rem) {
  .header__form {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 27rem) {
  .header__form {
    margin-right: 0;
  }
}
.header__subheading {
  margin: 0;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: -0.3rem;
  line-height: 3.1rem;
}
@media only screen and (max-width: 27rem) {
  .header__subheading {
    font-size: 2.6rem;
    letter-spacing: -0.1rem;
  }
}

/* footer */
.footer__arrow {
  margin-right: 0.65rem;
  font-size: 0.55rem;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 2.7rem;
  background-color: #e2dcce;
}
@media only screen and (max-width: 54rem) {
  .footer__content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.footer__copyright {
  margin-top: 0.2rem;
  margin-left: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #675d5d;
}
.footer__heading {
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #544b3c;
}
.footer__item {
  margin-bottom: 0.5rem;
}
.footer__link {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #3f3828;
}
.footer__link:hover .footer__text {
  text-decoration: underline;
}
.footer__link--active {
  color: #8c8678;
  cursor: auto;
}
.footer__link--active:hover .footer__text {
  text-decoration: none;
}
.footer__list {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__list + .footer__list {
  margin-left: 2rem;
}
.footer__lists {
  flex: 2.5;
  display: flex;
  flex-wrap: wrap;
  margin: 0 4rem;
}
@media only screen and (max-width: 54rem) {
  .footer__lists {
    flex: 60%;
    margin-left: 0;
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 36rem) {
  .footer__lists {
    flex: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.footer__logo {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 54rem) {
  .footer__logo {
    flex: 100%;
    margin-bottom: 2rem;
  }
}
.footer__newsletter {
  flex: 1;
}
@media only screen and (max-width: 54rem) {
  .footer__newsletter {
    flex: 30%;
  }
}
/* home */
.home__ads {
  flex: 1;
}
@media only screen and (max-width: 33rem) {
  .home__ads {
    flex: 100%;
    order: 2;
  }
}
.home__categories {
  flex: 1;
}
@media only screen and (max-width: 58rem) {
  .home__categories {
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 33rem) {
  .home__categories {
    margin-right: 0;
  }
}
.home__click {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
  color: #7e7f78;
  text-transform: uppercase;
  font-weight: bold;
}
.home__click:hover {
  background-color: #e2dcce;
  color: black;
}
.home__click-text {
  font-size: 0.95rem;
  margin-right: 0.5rem;
}
.home__courses {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-right: -1rem;
  background-color: white;
}
@media only screen and (max-width: 40rem) {
  .home__courses {
    margin-left: -1rem;
  }
}
.home__courses-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  padding: 3rem 3.5rem;
}
@media only screen and (max-width: 40rem) {
  .home__courses-content {
    padding: 2rem 1rem;
  }
}
.home__dish {
  line-height: 1.4rem;
  color: #474842;
}
.home__dish:hover {
  text-decoration: underline;
}
.home__header {
  display: flex;
  flex-wrap: wrap;
}
.home__heading {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 2rem;
  color: #504a3d;
}
.home__heading--orange {
  color: #d07e00;
}
.home__heading--margin-bottom {
  margin-bottom: 0;
}
@media only screen and (max-width: 27rem) {
  .home__heading {
    font-size: 1.5rem;
  }
}
.home__last-recipes {
  padding-top: 3rem;
}
@media only screen and (max-width: 40rem) {
  .home__last-recipes {
    padding-top: 0;
  }
}
.home__navigation {
  padding-right: 1rem;
  padding-top: 4rem;
  width: 13rem;
}
@media only screen and (max-width: 40rem) {
  .home__navigation {
    width: 100%;
    order: 1;
  }
}
@media only screen and (max-width: 40rem) {
  .home__navigation {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.home__recipes {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.home__right {
  font-size: 0.55rem;
}
.home__subheading {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #4a473e;
  font-size: 1.4rem;
}
@media only screen and (max-width: 27rem) {
  .home__subheading {
    font-size: 1.3rem;
  }
}
.home__top-recipes {
  flex: 2.5;
  margin: 0 3rem;
}
@media only screen and (max-width: 58rem) {
  .home__top-recipes {
    flex: 100%;
    order: 1;
    margin: 2rem 0;
  }
}
.home__track {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 2.5rem;
  background-color: #e2dcce;
}

/* utility helper classes */
.show {
  display: block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
